* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{

}



.heading-img{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading-text{
  width: 150px;
  height: 400px;
  color: block;
  padding-top: 20px;
  padding-left: 20px;

}

.main{
  width: 100%;
  margin: 20px auto;
}

.box{
  padding: 30px 0;
  width: 840px;
  margin: 30px auto;
  border-bottom: 1px solid black;
}
/*
.main{
}
  margin: 0 auto;
  width: 100%;


}

.box{
  padding: 30px 0;
  width: 840px;
  margin: 30px 0;
  border-bottom: 1px solid #f7f7f7;

}

.box-img{
  width: 250px;
  height: 50px;
  background-image: url(img/wc-logo.png);
  background-size: coverf;
  background-position: center;
}

.box-text{
  padding-top: 10px;
}
*/